.cursor {
  display: inline-block;
  margin-left: 2px;
  width: 8px;
  animation: blink 1s steps(2, start) infinite;
}

@keyframes blink {
  0%,
  50% {
    opacity: 1;
  }
  51%,
  100% {
    opacity: 0;
  }
}
